[{boss, [
    {path, "/home/andreas/projects/ChicagoBoss-0.8.0"},
    {applications, [cb_blog]},
    {db_host, "localhost"},
    {db_port, 1978},
    {db_adapter, mock},
    {log_dir, "log"},
    {server, mochiweb},
    {port, 8001},
    {session_adapter, mock},
    {session_key, "_boss_session"},
    {session_exp_time, 525600}
]},
{ cb_blog, [
    {path, "../cb_blog"},
    {base_url, "/"}
]}
].
